// UniSans start

@font-face {
    font-family: 'UniSansLight';
    src: url("https://cdn.cobi.bike/devkit/resources/fonts/UniSans/Light/UniSansLight.eot");
    src: url("https://cdn.cobi.bike/devkit/resources/fonts/UniSans/Light/UniSansLight.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/UniSans/Light/UniSansLight.woff2") format("woff2"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/UniSans/Light/UniSansLight.woff") format("woff"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/UniSans/Light/UniSansLight.ttf") format("truetype"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/UniSans/Light/UniSansLight.svg#uni_sansbook") format("svg");
    font-weight: 200;
    font-style: normal;
}


@font-face {
    font-family: 'UniSansBook';
    src: url("https://cdn.cobi.bike/devkit/resources/fonts/UniSans/Book/UniSansBook.eot");
    src: url("https://cdn.cobi.bike/devkit/resources/fonts/UniSans/Book/UniSansBook.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/UniSans/Book/UniSansBook.woff2") format("woff2"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/UniSans/Book/UniSansBook.woff") format("woff"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/UniSans/Book/UniSansBook.ttf") format("truetype"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/UniSans/Book/UniSansBook.svg#uni_sansbook") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'UniSansRegular';
    src: url("https://cdn.cobi.bike/devkit/resources/fonts/UniSans/Regular/UniSansRegular.eot");
    src: url("https://cdn.cobi.bike/devkit/resources/fonts/UniSans/Regular/UniSansRegular.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/UniSans/Regular/UniSansRegular.woff2") format("woff2"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/UniSans/Regular/UniSansRegular.woff") format("woff"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/UniSans/Regular/UniSansRegular.ttf") format("truetype"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/UniSans/Regular/UniSansRegular.svg#uni_sansbook") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'UniSansSemiBold';
    src: url("https://cdn.cobi.bike/devkit/resources/fonts/UniSans/SemiBold/UniSansSemiBold.eot");
    src: url("https://cdn.cobi.bike/devkit/resources/fonts/UniSans/SemiBold/UniSansSemiBold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/UniSans/SemiBold/UniSansSemiBold.woff2") format("woff2"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/UniSans/SemiBold/UniSansSemiBold.woff") format("woff"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/UniSans/SemiBold/UniSansSemiBold.ttf") format("truetype"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/UniSans/SemiBold/UniSansSemiBold.svg#uni_sansHeavy") format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'UniSansBold';
    src: url("https://cdn.cobi.bike/devkit/resources/fonts/UniSans/Bold/UniSansBold.eot");
    src: url("https://cdn.cobi.bike/devkit/resources/fonts/UniSans/Bold/UniSansBold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/UniSans/Bold/UniSansBold.woff2") format("woff2"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/UniSans/Bold/UniSansBold.woff") format("woff"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/UniSans/Bold/UniSansBold.ttf") format("truetype"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/UniSans/Bold/UniSansBold.svg#uni_sansBold") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'UniSansHeavy';
    src: url("https://cdn.cobi.bike/devkit/resources/fonts/UniSans/Heavy/UniSansHeavy.eot");
    src: url("https://cdn.cobi.bike/devkit/resources/fonts/UniSans/Heavy/UniSansHeavy.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/UniSans/Heavy/UniSansHeavy.woff2") format("woff2"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/UniSans/Heavy/UniSansHeavy.woff") format("woff"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/UniSans/Heavy/UniSansHeavy.ttf") format("truetype"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/UniSans/Heavy/UniSansHeavy.svg#uni_sansHeavy") format("svg");
    font-weight: 900;
    font-style: normal;
}

// UniSans End

// OpenSans Start

@font-face {
    font-family: 'OpenSansLight';
    src: url("https://cdn.cobi.bike/devkit/resources/fonts/OpenSans/Light/OpenSans-Light.eot?v=1.1.0");
    src: url("https://cdn.cobi.bike/devkit/resources/fonts/OpenSans/Light/OpenSans-Light.eot?#iefix&v=1.1.0") format("embedded-opentype"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/OpenSans/Light/OpenSans-Light.woff2?v=1.1.0") format("woff2"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/OpenSans/Light/OpenSans-Light.woff?v=1.1.0") format("woff"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/OpenSans/Light/OpenSans-Light.ttf?v=1.1.0") format("truetype"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/OpenSans/Light/OpenSans-Light.svg?v=1.1.0#Light") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url("https://cdn.cobi.bike/devkit/resources/fonts/OpenSans/Regular/OpenSans-Regular.eot?v=1.1.0");
    src: url("https://cdn.cobi.bike/devkit/resources/fonts/OpenSans/Regular/OpenSans-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/OpenSans/Regular/OpenSans-Regular.woff2?v=1.1.0") format("woff2"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/OpenSans/Regular/OpenSans-Regular.woff?v=1.1.0") format("woff"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/OpenSans/Regular/OpenSans-Regular.ttf?v=1.1.0") format("truetype"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/OpenSans/Regular/OpenSans-Regular.svg?v=1.1.0#Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url("https://cdn.cobi.bike/devkit/resources/fonts/OpenSans/Semibold/OpenSans-Semibold.eot?v=1.1.0");
    src: url("https://cdn.cobi.bike/devkit/resources/fonts/OpenSans/Semibold/OpenSans-Semibold.eot?#iefix&v=1.1.0") format("embedded-opentype"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/OpenSans/Semibold/OpenSans-Semibold.woff2?v=1.1.0") format("woff2"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/OpenSans/Semibold/OpenSans-Semibold.woff?v=1.1.0") format("woff"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/OpenSans/Semibold/OpenSans-Semibold.ttf?v=1.1.0") format("truetype"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/OpenSans/Semibold/OpenSans-Semibold.svg?v=1.1.0#Semibold") format("svg");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url("https://cdn.cobi.bike/devkit/resources/fonts/OpenSans/Bold/OpenSans-Bold.eot?v=1.1.0");
    src: url("https://cdn.cobi.bike/devkit/resources/fonts/OpenSans/Bold/OpenSans-Bold.eot?#iefix&v=1.1.0") format("embedded-opentype"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/OpenSans/Bold/OpenSans-Bold.woff2?v=1.1.0") format("woff2"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/OpenSans/Bold/OpenSans-Bold.woff?v=1.1.0") format("woff"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/OpenSans/Bold/OpenSans-Bold.ttf?v=1.1.0") format("truetype"),
         url("https://cdn.cobi.bike/devkit/resources/fonts/OpenSans/Bold/OpenSans-Bold.svg?v=1.1.0#Bold") format("svg");
    font-weight: bold;
    font-style: normal;
}

// OpenSans End
