
//
// Forms
// --------------------------------------------------

// Force form elements to inherit font styles
input,
textarea,
button,
select {
  font-family: $font-family-default;
  font-size: $font-size-default;
}

// Stretch inputs/textareas to full width and add height to maintain a consistent baseline
select,
textarea,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"] {
  width: 100%;
  height: 35px;
  -webkit-appearance: none;
  padding: 0 15px;
  margin-bottom: 15px;
  line-height: $line-height-default;
  border: $border-default;
  border-radius: 3px;
  outline: none;
  overflow: scroll;
  color: $tarmac-color;
}

input:focus::-webkit-input-placeholder
{
    color: transparent !important;
}

input::-webkit-input-placeholder
{
    color: $gray-color;
}

// Rounded search input
input[type="search"] {
  padding: 0 10px;
  font-size: 16px;
  border-radius: 20px;
  // Override content-box in normalize
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
input[type="search"]:focus {
  text-align: left;
}

input[type="date"]:focus {
    margin-right: 0;
    padding: 0;
    float: right;
    text-align: right;
}

input[type=date] {
  display:block;
  -webkit-appearance:button;
  -moz-appearance:button;
  appearance:button;
}

@media only screen and (orientation: portrait) {
  input[type="date"]:before {
    content: 'dd.mm.yyyy';
    margin-top: 5px;
    float: right;
  }
  input[type="date"]:focus:before {
    content: '';
  }
  input[type="date"]:valid:before {
    content: '';
  }

  input[type="date"]:focus{
    content: '';
    overflow: scroll;
    margin-top: 5px;
    float: right;
  }

  input[type="date"]:valid{
    content: '';
    overflow: scroll;
    margin: 10px 0;
    padding: 0;
    float: right;
  }
}



// Allow text area's height to grow larger than a normal input
textarea {
  height: auto;
}

// Style select button to look like part of the Ratchet's style
select {
  height: auto;
  font-size: 14px;
  background-color: #f8f8f8;
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .1));
}


// Input groups (cluster multiple inputs together into a single group)
// -------------------------------------------------------------------

// Remove spacing, borders, shadows and rounding since it all belongs on the .input-group not the input
.input-group {

}

.input-group input,
.input-group textarea {
  margin-bottom: 0;
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  @include box-shadow(none);
}

// Input groups with labels
// --------------------------------------------------

// To use labels with input groups, wrap a label and an input in an .input-row
.input-row {
  background-color: #fff;
  overflow: hidden;
  height: 65px;
  padding-top: 13px;
  border-bottom: $border-default;
}

.input-row:first-child {
  border-top: $border-default;
}

// Labels get floated left with a set percentage width
.input-row label {
  float: left;
  width: 50%;
  padding: 9px 15px;
  font-family: $font-family-default;
  line-height: 1.1; // Put the text on the baseline.
}

// Actual inputs float to right of labels and also have a set percentage
.input-row input {
  text-align: right;
  float: right;
  width: 50%;
  padding-left: 0;
  margin-bottom: 0;
  border: 0;
  overflow: scroll;
}

// Input groups with transparent background
// --------------------------------------------------

.input-transparent {
    overflow: hidden;
    text-align: center;
    height: 40px;
    width: 240px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-top: 7px;
    border-bottom: 1px solid #fff;
}

.input-transparent input {
  text-align: center;
  background-color: transparent;
  border: 0px;
  color: #fff;
  font-size: 24px;
  font-family: 'UniSans';
  padding-bottom: 10px;
}

.input-transparent input:focus {
    outline: none;
}



.input-transparent input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $surf-dark-color;
}

.input-transparent input::-moz-placeholder {
    /* Firefox 19+ */
    color: $surf-dark-color;
}

.input-transparent input:-ms-input-placeholder {
    /* IE 10+ */
    color: $surf-dark-color;
}

.input-transparent input:-moz-placeholder {
    /* Firefox 18- */
    color: $surf-dark-color;
}

// Input groups with icons
// --------------------------------------------------

.input-icon {
    overflow: hidden;
    text-align: left;
    height: 40px;
    width: 270px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-top: 7px;
    border-bottom: 1px solid #9B9B9B;

}

.input-icon:focus{
  border-bottom: 1px solid $surf-blue-color;
}

.input-icon input {
  text-align: left;
  background-color: transparent;
  border: 0px;
  color: $tarmac-color;
  font-size: 18px;
  font-family: 'UniSans';
  padding-bottom: 10px;
  margin-top: -27px;
  float: left;
  /* display: inline-block; */
  margin-left: 31px;

}

.input-icon input:focus {
    outline: none;
}

.input-icon input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $gray-dark-color;
}

.input-icon input::-moz-placeholder {
    /* Firefox 19+ */
    color: $gray-dark-color;
}

.input-icon input:-ms-input-placeholder {
    /* IE 10+ */
    color: $gray-dark-color;
}

.input-icon input:-moz-placeholder {
    /* Firefox 18- */
    color: $gray-dark-color;
}
