#toast-container {
    z-index: 10000;
    position: absolute;
    /* move the element half way across the screen */
    left: 50%;
    /* allow the width to be calculated dynamically */
    width: auto;
    /* then move the element back again using a transform */
    transform: translateX(-50%);
}

.toast {
    font-family: 'UniSans';
    font-weight: 200;
    border-radius: 2px;
    top: 100px;
    width: auto;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    max-width: 100%;
    height: auto;
    min-height: 48px;
    line-height: 1.5em;
    word-break: break-all;
    background-color: #323232;
    padding: 10px 25px;
    font-size: 1.1rem;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: default;

    &.rounded {
        border-radius: 24px;
    }

    &.white {
      color: $tarmac-color;
      background-color: #fff;
      border: 2px $tarmac-color solid;
    }
}

@media only screen and (max-width: 600px) {
  #toast-container {
    min-width: 0 !important;
  }
}
