//
// Variables
//


// Type
// --------------------------------------------------
$font-family-default: 'UniSans' !default;
$font-size-default: 17px!default;
$font-weight: 400 !default;
$font-weight-light: 400 !default;
$line-height-default: 21px !default;


// Colors
// --------------------------------------------------

// Main theme colors

$surf-blue-color: #00C8E6;
$surf-dark-color: #007D90;
$tarmac-color: #2D2D37;
$coral-color: #FA4B69;
$gray-color: #E0E0E0;
$gray-light-color: #F7F7F7;
$gray-dark-color: #AAAAAD;

$primary-color: #428bca !default;
$chrome-color:  #fff !default;

// // Action colors
$default-color:  #fff !default;
$positive-color: #5cb85c !default;
$negative-color: #d9534f !default;


// Bars
// --------------------------------------------------

$bar-base-height:  54px !default;
$bar-tab-height:   50px !default;
$bar-side-spacing: 10px !default;


// Cards
// --------------------------------------------------

$card-bg: #fff !default;


// Buttons
// --------------------------------------------------

$button-font-size: 20px !default;


// Transitions
// --------------------------------------------------

$timing-fuction: cubic-bezier(.1,.5,.1,1) !default; // Inspired by @c2prods


// Borders
// --------------------------------------------------

$border-default: 1px solid $gray-color !default;
$border-radius: 6px !default;
