//
// Add here your css to adjust COBI.Bike style library to your needs
// --------------------------------------------------
@import "variables";

  .content-padded {
    h3 {
      
    }
  }

  .content {

    .input-transparent {
          margin-top: 100px;
    }

    button {
      margin-top: 35px;
    }
  }

  /* Landscape */
@media only screen and (orientation: landscape) {

    .content-padded {
      h3 {
        margin-top: 50px;}
    }

    .content {
      &.blue {
      }
      .input-transparent {
            margin-top: 50px;
      }

      button {
        margin-top: 40px;
      }
    }
}
