@import "normalize";
@import "variables";
@import "mixins";
@import "fonts";
@import "type";
@import "bars";
@import "icons";
@import "buttons";
@import "modals";
@import "table-views";
@import "toggles";
@import "forms";
@import "push";
@import "sliders";
@import "toast";
//
// Base styles
// --------------------------------------------------

// Use box sizing on all the things!
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

// We fix position the body and scroll `.content`.
body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: $font-family-default;
  font-size: $font-size-default;
  line-height: $line-height-default;
  color: $tarmac-color;
  background-color: #F7F7F7;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

// Universal link styling
a {
  color: $tarmac-color;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0); // Removes the dark touch outlines on links in webkit browsers.

  &:active {
    color: darken($tarmac-color, 10%);
  }
}

// Wrapper to be used around all content not in .bar-title and .bar-tab
.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background-color: #fff;
  -webkit-overflow-scrolling: touch;

  .content-bg {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: auto;
        z-index: 0;
      }


  &.blue{
    background-color: $surf-blue-color;
  }

  &.gray{
    background-color: $gray-light-color;
  }

}




// Hack to force all relatively and absolutely positioned elements still render while scrolling
// Note: This is a bug for "-webkit-overflow-scrolling: touch"
.content > * {
  @include transform(translateZ(0));
}

// Pad top/bottom of content so it doesn't hide behind bars.
// Note: For these to work, content must come after both bars in the markup
.bar-nav ~ .content {
  padding-top: $bar-base-height;
}
.bar-header-secondary ~ .content {
  padding-top: ($bar-base-height*2);
}

// Footer bar padding
.bar-footer ~ .content {
  padding-bottom: $bar-base-height;
}
.bar-footer-secondary ~ .content {
  padding-bottom: ($bar-base-height*2);
}

// Tab bar padding
.bar-tab ~ .content {
  padding-bottom: $bar-tab-height;
}
.bar-footer-secondary-tab ~ .content {
  padding-bottom: ($bar-tab-height+$bar-base-height);
}

// Utility classes
.content-padded {
  margin: 0;
  padding: 15px 15px 10px 15px;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix {
  @include clearfix();
}

.app-info-header {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 1;
  margin-bottom: 0px;
  margin-top: 25px;

  &::after {
    position: absolute;
    left: 50%;
    margin-left: -188px;
    content: url('https://cdn.cobi.bike/devkit/resources/images/header.svg');
    z-index: 99;
    top: 0;
  }

  & .app-icon {
    display: block;
    width: 110px;
    position: relative;
    margin: 0 auto;
    padding-top: 35px;
  }
}


// COBI infinity loader animation
@keyframes dash {
  to {
    stroke-dashoffset: 3000;
  }
}

#infinity_loader {
  display: none;
  margin: 0px auto;
  padding-top: 5px;
  stroke-dasharray: 60,200;
  animation: dash 10s linear infinite;
}
