//
// Add here your css to adjust cobi-style library to your needs
// --------------------------------------------------
@import "variables";

.img-slider{
  position: absolute;
  bottom: 90px;
}

.btn {
  &.blue{
    margin-top: 50px;
  }
}

.content-padded {
  margin-bottom: 50px;
  margin-top: 20px;
}


  /* Landscape */
@media only screen and (orientation: landscape) {
  .app-info-header {
    display: none;
  }

  .img-slider {
    position: absolute;
    bottom: 30px;

    .slide-group .slide img {width: 45%;}
  }

  .content{
    .content-bg{
      display: none;
    }
  }

  .content-padded {
    margin-bottom: 25px;
    margin-top: 0px;

    p {
      font-size: 16px;
    }
  }

  .btn {
    &.blue{
      margin-top: 20px;
    }
  }



}
